NEXT_PUBLIC_SUPABASE_URL=https://buaqfwrcxellwslzehiw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ1YXFmd3JjeGVsbHdzbHplaGl3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMxNTA4NjgsImV4cCI6MjA4ODcyNjg2OH0.uynE_mAa1CONRDY2LF82g0Z6pwVdAciVXbc87MGiiAU
SUPABASE_SERVICE_ROLE_KEY=get-this-from-supabase-settings-api
NEXT_PUBLIC_USD_TO_PKR=278
